@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .scrollbar-none {
        padding-right: 8px; 
        overflow-y: auto;
        -ms-overflow-style: none; 
        scrollbar-width: none;
    }

    .scrollbar-none::-webkit-scrollbar {
        display: none; 
        width: 8px;
    }

    
    .scrollbar-none:hover::-webkit-scrollbar {
        display: block;
    }

    .scrollbar-none:hover {
        -ms-overflow-style: auto;
        scrollbar-width: thin;
    }
}
